<!-- Botón de Crear -->
<div class="boton-container" *ngIf="!showPermission">
    <button mat-raised-button color="primary" class="ButtonCenter" (click)="togglePermission('create')">Crear</button>
  </div>
  
  <!-- Tabla, visible solo cuando showPermission sea false -->
  <div *ngIf="!showPermission">
    <div class="table-container">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Active</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Permission of permissions">
            <td>{{ Permission.name }}</td>
            <td>{{ Permission.description }}</td>
            <td>{{ Permission.active ? 'Yes' : 'No' }}</td>
            <td>
              <button mat-raised-button color="primary"  (click)="editPermission(Permission)">Editar</button>
              <button mat-raised-button color="warn" (click)="deletePermission(Permission.id, 'Logical')">Eliminar Logico</button>
              <button *ngIf="userRole === 'admin'" mat-raised-button color="accent"  (click)="deletePermission(Permission.id, 'fisico')">
              Eliminar Definitivo
            </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <!-- Formulario combinado para crear y actualizar -->
  <div *ngIf="showPermission" class="form-container">
    <form (ngSubmit)="submitPermission()" #formElement="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" [(ngModel)]="currentPermission.name" name="name" required #name="ngModel" />
        <div *ngIf="name.invalid && name.touched" class="error-message">
          El campo de nombre es obligatorio.
        </div>
      </div>
  
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" id="description" [(ngModel)]="currentPermission.description" name="description" required #description="ngModel" />
        <div *ngIf="description.invalid && description.touched" class="error-message">
          El campo de descripción es obligatorio.
        </div>
      </div>
  
      <div class="form-group">
        <label for="active">Active</label>
        <input type="checkbox" id="active" [(ngModel)]="currentPermission.active" name="active" />
      </div>
  
      <div class="buttons-container">
        <button mat-raised-button color="primary" type="submit" [disabled]="formElement.invalid">
          {{ isEditing ? 'Actualizar' : 'Crear' }}
        </button>
        <button mat-raised-button type="button" (click)="cancelPermission()">
          Cancelar
        </button>
      </div>
    </form>
  </div>