
<!-- Botón de Crear -->
 <!-- Contenedor para el botón -->
<div class="boton-container" *ngIf="!showCreateForm">
  <button mat-raised-button color="primary" class="ButtonCenter" (click)="toggleCreateForm()">Crear</button>
</div>


<!-- Tabla, visible solo cuando showCreateForm sea false -->
<div *ngIf="!showCreateForm">
  <div class="table-container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Active</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let form of forms">
          <td>{{ form.name }}</td>
          <td>{{ form.description }}</td>
          <td>{{ form.active ? 'Yes' : 'No' }}</td>
          <td>
            <!-- <button mat-raised-button color="warn" (click)="deleteForm(form.id)">Eliminar</button> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- <div *ngIf="showCreateForm" class="form-container">
  <form (ngSubmit)="addForm()" #createForm="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name" [(ngModel)]="newForm.name" name="name" required #name="ngModel" />
      <div *ngIf="name.invalid && name.touched" class="error-message">
        El campo de nombre es obligatorio.
      </div>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" id="description" [(ngModel)]="newForm.description" name="description" required #description="ngModel" />
      <div *ngIf="description.invalid && description.touched" class="error-message">
        El campo de descripción es obligatorio.
      </div>
    </div>

    <div class="form-group">
      <label for="active">Active</label>
      <input type="checkbox" id="active" [(ngModel)]="newForm.active" name="active" />
    </div>

    <button mat-raised-button color="primary" type="submit" [disabled]="createForm.invalid">
      Crear
    </button>
  </form>
</div> -->
