<div class="sidebar">
    <ul>
      <li><a routerLink="/home/form">Form</a></li>
      <li><a routerLink="/home/module">Module</a></li>
      <li><a routerLink="/home/permission">Permission</a></li>
      <li><a routerLink="/home/person">Person</a></li>
      <li><a routerLink="/home/rol">Rol</a></li>
      <li><a routerLink="/home/user">User</a></li>
      <li><a routerLink="/home/rolUser">RolUser</a></li>
      <!-- <li><a routerLink="/">RolFormPermission</a></li> -->
      <li><a routerLink="/home/formModule">FormModule</a></li>
    </ul>
  </div>
  <div class="correr">
    <router-outlet></router-outlet>
  </div>

  